.imageDiv {
    height: 0;
}


.imgSrc {
    /* position: relative; */
    display: inline-block;
    /* padding: 0.3em; */
    /* top: 1em; */
    margin-top: 1em;
    right: -0.4em;
    cursor: pointer;
    border: dashed;
    border-radius: 2em;
    height: 5em;
    width: 5.5em;
    background-color: #c2ced6;
}

.imgSrc2 {
    /* position: relative; */
    display: inline-block;
    /* padding: 0.3em; */
    border: dotted;
    border-radius: 2em;
    background-color: #c2ced6;
    margin-top: 2.5em;
    right: -0.4em;
    cursor: pointer;
    height: 3.5em;
    width: 3.5em;
}
