.imageDiv {
    height: 0;
}

.imgSrc {
    display: inline-block;
    margin-top: 1em;
    right: -0.4em;
    cursor: pointer;
    border: dashed;
    /* border-radius: 2em;
    background-color: #c2ced6;  */
    height: 5em;
    width: 5.5em;   
}

.imgSrc2 {
    display: inline-block;
    border: dotted;
    /* border-radius: 2em;
    background-color: #c2ced6; */
    margin-top: 2.5em;
    right: -0.4em;
    cursor: pointer;
    height: 3.5em;
    width: 3.5em;
}
