.pokeBlock {
    display: inline-block;
    margin-right: 7em;
    margin-left: 7em;
}

.pokeDiv {
    margin: 1em;
}

.pokeHW {
    border: solid;
    width: 13em;
    height: 1.5em;
    text-align: justify;
}

.pokeType {
    border: dotted;
    width: 4em;
    height: 1.5em;
    list-style: none;
    display: inline-block;
    margin-right: .5em;
    text-align: center;
    border-radius: 2em;
}

#bug {
    background-color: #A8B820;
}

#dark {
    background-color: #705848;
}

#dragon {
    /* background-color: #7038F8; */
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}

#electric {
    background-color: #F8D030;
}

#fairy {
    background-color: #EE99AC;
}

#fighting {
    background-color: #C03028;
}

#fire {
    background-color: #F08030;
}

#flying {
    /* background-color: #A890F0; */
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}

#ghost {
    background-color: #705898;
}

#grass {
    background-color: #78C850;
}

#ground {
    /* background-color: #E0C068; */
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}

#ice {
    background-color: #98D8D8;
}

#normal {
    background-color: #A8A878;
}

#poison {
    background-color: #A040A0;
}

#psychic {
    background-color: #f366b9;
}

#rock {
    background-color: #B8A038;
}

#steel {
    background-color: #B8B8D0;
}

#water {
    background-color: #6890F0;
}


.pokeStat {
    border: solid;
    width: 13em;
    height: 1.5em;
    list-style: none;
    text-align: justify;
    text-transform: capitalize;
}

.pokeAbility {
    border: solid;
    width: 13em;
    height: 1.5em;
    list-style: none;
    text-align: justify;
    text-transform: capitalize;
}

.pokeNumberInfo {
    padding: 0;
    margin: -1em 1em;
    text-align: right;
    color: #8c8f8b;
}

.pokeMove {
    border: solid;
    width: 13em;
    height: 1.5em;
    list-style: none;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    border-radius: 2em;
}

#pokeDescription {
    text-align: justify;
}

#backButton {
    width: 7em;
    height: 2em;
    background-color: #5E5E5E;
    border: solid;
    border-radius: 2em;
    text-align: center;
    color: #FFFFFF;
    padding: 0.2em;
}

.imgSrc {
    /* cursor: pointer; */
    border: dashed;
    border-radius: 2em;
    height: 5em;
    width: 5.5em;
    background-color: #c2ced6;
}


.imgSrc2 {
    /* position: relative; */
    /* display: inline-block; */
    /* padding: 0.3em; */
    /* top: 3em; */
    right: -0.4em;
    height: 3.5em;
    width: 3.5em;
    border: dotted;
    border-radius: 2em;
    background-color: #c2ced6;
}
