<h2>{{pokemonName}}'s Information</h2>
<ul>
  <div class="pokeBlock">
      <div class="pokeDiv">
          <div *ngIf="pokemonImgName" class="imageDiv"> 
              <img [src] = 'pokemonImgName.front_default' class="imgSrc">
          </div>
      </div> 
      <div class="pokeDiv">
          <h2>{{pokemonName}}'s Profile:</h2>
          <div class="pokeHW">
              Height: <p class="pokeNumberInfo">{{pokemonHeight}}</p>
          </div> 
          <div class="pokeHW">
              Weight: <p class="pokeNumberInfo">{{pokemonWeight}}</p>
          </div> 
      </div> 
      <div class="pokeDiv">
          <h2>{{pokemonName}}'s Abilities:</h2>
          <div *ngFor="let pokemon of pokemonAbility" class="pokeAbility">
            <li>{{pokemon.ability.name}}</li>
          </div>
      </div>
  </div>
  <div class="pokeBlock">
      <div class="pokeDiv">
          <h2>{{pokemonName}}'s Type:</h2>
          <div *ngFor="let pokemon of pokemonType" class="pokeType">
              <li>{{pokemon.type.name}}</li>   
          </div> 
      </div>
      <div class="pokeDiv">
          <h2>{{pokemonName}}'s Statistic:</h2>
          <div *ngFor="let pokemon of pokemonStat" class="pokeStat">
            <li>{{pokemon.stat.name}}: <p class="pokeNumberInfo">{{pokemon.base_stat}}</p></li>
          </div>
      </div>
  </div>
    <div class="pokeDiv">
        <h2>{{pokemonName}}'s Moves:</h2>
        <div *ngFor="let pokemon of pokemonMove" class="pokeMove">
          <li>{{pokemon.move.name}}</li>
        </div>
    </div>
</ul>
