<h2>#{{pokemonIdNumber}}: {{pokemonName}}</h2>
<ul>
  <div class="pokeBlock">
      <div *ngIf="pokemonImgName" class="pokeDiv">
          <div *ngIf="pokemonImgName.front_default" class="imageDiv"> 
              <img [src] = 'pokemonImgName.front_default' class="imgSrc">
          </div>
          <div *ngIf="!pokemonImgName.front_default" class="imageDiv"> 
               <img src = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png" class="imgSrc2">
          </div>
      </div> 
      <div class="pokeDiv">
          <h2>{{pokemonName}}'s Profile:</h2>
          <div class="pokeHW">
              Height (cm): <p class="pokeNumberInfo">{{pokemonHeight}}</p>
          </div> 
          <div class="pokeHW">
              Weight (g): <p class="pokeNumberInfo">{{pokemonWeight}}</p>
          </div> 
      </div> 
      <div class="pokeDiv">
          <h2>{{pokemonName}}'s Type:</h2>
          <div *ngFor="let pokemon of pokemonType" class="pokeType" id="{{pokemon.type.name}}">
              <li>{{pokemon.type.name}}</li>   
          </div> 
      </div>
  </div>
  <div class="pokeBlock">
      <div class="pokeDiv">
            <h2>{{pokemonName}}'s Abilities:</h2>
            <div *ngFor="let pokemon of pokemonAbility" class="pokeAbility">
              <li>{{pokemon.ability.name}}</li>
            </div>
      </div>
      <div class="pokeDiv">
          <h2>{{pokemonName}}'s Statistic:</h2>
          <div *ngFor="let pokemon of pokemonStatDesc" class="pokeStat">
            <li>{{pokemon.stat.name}}: <p class="pokeNumberInfo">{{pokemon.base_stat}}</p></li>
          </div>
      </div>
  </div>
  <div class="pokeBlock">
    <div class="pokeDiv">
        <h2>{{pokemonName}}'s Description:</h2>
        <!-- <div *ngIf="pokemonDescription"> -->
          <div *ngIf="pokemonIsDefault && pokemonDescription">
            <p id="pokeDescription"> {{pokemonDescription.flavor_text}} </p>
          </div>
          <div *ngIf="!pokemonIsDefault">
            <p id="pokeDescription"> No description available for pokemon form </p> 
          </div>
        <!-- </div>  -->
    </div>
  </div>
  <div class="pokeBlock">
        <div class="pokeDiv">
                <h2>{{pokemonName}}'s Moves:</h2>
                <div *ngFor="let pokemon of pokemonMove" class="pokeMove">
                  <li>{{pokemon.move.name}}</li>
                </div>
        </div>
  </div>
  <div class="pokeDiv">
    <a [routerLink]="['']" id="backButtonLink"><div id="backButton">Return</div></a>
  </div>
</ul>
