<div  class="pokemons">
    <div class="pokemonPageNumber">
      <li *ngFor="let iCtr of pageCounter" routerLink="/page/{{iCtr}}">
          {{iCtr}}
      </li>
    </div>
</div>

<ul *ngIf="pokemons" class="pokemons">
  <div *ngFor="let pokemon of pokemons" class="pokemonList" routerLink="/pokemon/{{pokemon.name}}">
        <a routerLink="/pokemon/{{pokemon.name}}">
          {{pokemon.name}}
        </a>
      <app-pokemon-detail [pokemonName] = "pokemon.name" routerLink="/pokemon/{{pokemon.name}}"></app-pokemon-detail>
  </div>
</ul>