.pokemons {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
}

.pokemonList {
    cursor: pointer;
    position: relative;
    background-color: #5E5E5E;
    margin: .5em;
    padding: .5em;
    height: 10em;
    width: 10em;
    border-radius: 8px;
    text-align: center;
    text-transform: capitalize;
    display: inline-block;
}

.pokemonList a {
    color: white;
    text-decoration: none;
    width: 250px;
  }
